@import "../../../styles/mixins";
@import "../../../styles/functions";

.btn {
  padding: rem(16) rem(38);
  transition: 0.3s;
  border-radius: rem(5);
  font-family: "KumbhSans-Bold";
  font-size: rem(16);

  &__primary {
    background: var(--violet-color);
    color: var(--white-color);

    &:hover {
      background: var(--light-violet-color);
    }
  }
  &__secondary {
    background: var(--light-violet-color);
    color: var(--violet-color);
    &:hover {
      background: var(--lighter-violet-color);
    }
  }
  &__dark {
    background: var(--dark-theme-primary);
    color: var(--white-color);

    &:hover {
      background: var(--dark-gray-color);
    }
  }
}
