@font-face {
  font-family: "KumbhSans-Regular";
  src: local("MyFont"), url(../fonts/KumbhSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "KumbhSans-Bold";
  src: local("MyFont"), url(../fonts/KumbhSans-Bold.ttf) format("truetype");
}
