html {
  scroll-behavior: smooth;
}

:root {
  --violet-color: #5964e0;
  --light-violet-color: #939bf4;
  --lighter-violet-color:#afb4ee;
  --gray-color: #9daec2;
  --dark-gray-color: #6e8098;
  --white-color: #fff;
  --dark-theme-primary: #19202d;
  --dark-theme-secondary: #121721;
  --light-theme-primary: #000;
  --light-theme-secondary: #f4f6f8;
}

$breakpoints: (
  "xs": 0px,
  "sm": 375px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1440px,
  "xxl": 1920px,
);
